<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2>And Your Gender is......</h2>
			<h4><%= @person.gender %></h4>

			<%= form_for :person, :url =>url_for(controller:'guesses', action: 'create'), :html => {:method => :post} do |f| %>
			<%= f.hidden_field(:height, :value => @person.height) %>
			<%= f.hidden_field(:weight, :value => @person.weight) %>
			<%= f.label :gender, 'female' %>
			<%= f.radio_button :gender, 'female' %>
			<br>
			<%= f.label :gender, 'male' %>
			<%= f.radio_button :gender, 'male' %>
			<br>
			<%= f.submit 'Submit', class: 'confirm-guess' %>
			<% end %>
		</div>
	</div>
</div>